# 00_Jupyter Notebook Basics!

작성자 : 김정훈 <br>
수정 : 한기영


#### 이 튜토리얼의 목표

다음의  7가지를 자유롭게 할 수 있다면 완료 ! 

1. 셀 선택, 편집 모드 진입/선택모드
2. 셀을 실행하는 방법들
3. 마크다운 셀 / 코드 셀 전환
2. 코드 Line number
5. 셀 생성, 셀 삭제
5. 링크 삽입 / 이미지 삽입
7. 파이썬 스크립트 저장, 불러오기

## 0. 주의

* 실행 결과가 나오기전에 반복실행은 삼가주세요.
* 우측 상단에 댓글, 공유 아래에 녹색으로 '연결됨'이라고 되어있는지 체크해주세요.

## 1. 셀 선택, 편집 모드 진입 / 선택 모드

Arrows, Enter, Esc 마음껏 움직여 보라!

Q. 편집모드와 선택모드를 구별 할 수 있나요?

## 2. 셀을 실행하는 방법들

Alt / Ctrl / Shift + Enter

Q. 각각의 작동하는 내용을 적어봅시다.

1. Alt + Enter : 
2. Ctrl + Enter : 
3. Shift + Enter :

In [2]:
print('Hello? Is it me you are looking for?')

Hello? Is it me you are looking for?

## 3. 마크다운 셀 / 코드 셀 전환

* 마크다운으로 전환 : M
* 코드셀로 전환 : Y

# 제목1
## 제목2
### 제목3

* 과제1
* 과제2


넘파이 판다스를 배우게 됩니다.

#### 여기는 마크다운 셀

1. Please change this cell into a MarkDown Cell

or we can't run this cell correctly

#### 다음줄로 내리기

첫번째 줄  
두번째 줄

##### ~< br > 하거나, enter를 두번 치거나, 스페이스바를 두번 치면  한줄 내려감.

# Need to change this cell into a Code Cell


print( '지금 사용하고 있는 웹 기반 개발 도구 이름은?')
answers = input("답 : ")

if answers == 'Jupyter Notebook' :
  print("Good!")
else :
  print('type correctly, plz')

## 4. 코드 Line Number

아래 셀을 선택하고 L를 눌러보세요

In [3]:
# 실행해봅시다.
sample_list = []
sumsum = 0

for i in range(10) :
  sample_list.append(i)
  sumsum += i
  print(i)
print('loop done')
print(sumsum)
print(sample_list)

# 아래 결과창 왼쪽을  더블클릭해보세요.

0
1
2
3
4
5
6
7
8
9
loop done
45
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 5. 셀 생성, 셀 삭제

선택된 셀 기준으로
* 위에 셀 생성 : a
* 아래에 셀 생성 : b
* 삭제는 : dd
* 삭제된 셀 되살리기 : z or 메뉴 > edit > undo delete cell

In [1]:
import pandas as pd

In [13]:
a = pd.read_csv(r'C:\Users\50008313\Python_Jupyter_Study\2기교육\3_Python기초\샘플데이터\Graduate_apply.csv', engine='python')

In [14]:
print(a)

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
5        1  760  3.00     2
6        1  560  2.98     1
7        0  400  3.08     2
8        1  540  3.39     3
9        0  700  3.92     2
10       0  800  4.00     4
11       0  440  3.22     1
12       1  760  4.00     1
13       0  700  3.08     2
14       1  700  4.00     1
15       0  480  3.44     3
16       0  780  3.87     4
17       0  360  2.56     3
18       0  800  3.75     2
19       1  540  3.81     1
20       0  500  3.17     3
21       1  660  3.63     2
22       0  600  2.82     4
23       0  680  3.19     4
24       1  760  3.35     2
25       1  800  3.66     1
26       1  620  3.61     1
27       1  520  3.74     4
28       1  780  3.22     2
29       0  520  3.29     1
..     ...  ...   ...   ...
370      1  540  3.77     2
371      1  680  3.76     3
372      1  680  2.42     1
373      1  620  3.37     1
374      0  560  3.78     2
375      0  560  3.49     4
376      0  620  3.63     2
377      1  800  4.00     2
378      0  640  3.12     3
379      0  540  2.70     2
380      0  700  3.65     2
381      1  540  3.49     2
382      0  540  3.51     2
383      0  660  4.00     1
384      1  480  2.62     2
385      0  420  3.02     1
386      1  740  3.86     2
387      0  580  3.36     2
388      0  640  3.17     2
389      0  640  3.51     2
390      1  800  3.05     2
391      1  660  3.88     2
392      1  600  3.38     3
393      1  620  3.75     2
394      1  460  3.99     3
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [15]:
a

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
5        1  760  3.00     2
6        1  560  2.98     1
7        0  400  3.08     2
8        1  540  3.39     3
9        0  700  3.92     2
10       0  800  4.00     4
11       0  440  3.22     1
12       1  760  4.00     1
13       0  700  3.08     2
14       1  700  4.00     1
15       0  480  3.44     3
16       0  780  3.87     4
17       0  360  2.56     3
18       0  800  3.75     2
19       1  540  3.81     1
20       0  500  3.17     3
21       1  660  3.63     2
22       0  600  2.82     4
23       0  680  3.19     4
24       1  760  3.35     2
25       1  800  3.66     1
26       1  620  3.61     1
27       1  520  3.74     4
28       1  780  3.22     2
29       0  520  3.29     1
..     ...  ...   ...   ...
370      1  540  3.77     2
371      1  680  3.76     3
372      1  680  2.42     1
373      1  620  3.37     1
374      0  560  3.78     2
375      0  560  3.49     4
376      0  620  3.63     2
377      1  800  4.00     2
378      0  640  3.12     3
379      0  540  2.70     2
380      0  700  3.65     2
381      1  540  3.49     2
382      0  540  3.51     2
383      0  660  4.00     1
384      1  480  2.62     2
385      0  420  3.02     1
386      1  740  3.86     2
387      0  580  3.36     2
388      0  640  3.17     2
389      0  640  3.51     2
390      1  800  3.05     2
391      1  660  3.88     2
392      1  600  3.38     3
393      1  620  3.75     2
394      1  460  3.99     3
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [16]:
print('이 셀을 기준으로 위에 2개 아래에 2개 생성하시오')

이 셀을 기준으로 위에 2개 아래에 2개 생성하시오

In [17]:
import sys
print(sys.path)

['C:\\Users\\50008313\\Python_Jupyter_Study\\2기교육\\3_Python기초\\소스코드', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\python37.zip', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\DLLs', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3', '', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\50008313\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\50008313\\.ipython']

## 6. 링크 삽입, 이미지 삽입


[Robot! 동영상](https://www.youtube.com/watch?v=bRHG7YObDuU)

[여기를 눌러보면 좋은 방법들이 많다!](https://gist.github.com/ninanung/2b81a5db946c26c98c573e3662a92b62)

![이미지](http://img.cgv.co.kr/Movie/Thumbnail/Poster/000081/81136/81136_1000.jpg "폴란드로 간 아이들")

## 7. 저장

* 저장 : S

In [12]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 1EEA-F5AB

 C:\Users\50008313\Python_Jupyter_Study\[2기교육] 3. Python기초(2.21-25)-20190221T002853Z-001\3. Python기초(2.21-25)\소스코드 디렉터리

2019-02-21  오전 10:11    <DIR>          .
2019-02-21  오전 10:11    <DIR>          ..
2019-02-21  오전 09:46    <DIR>          .ipynb_checkpoints
2019-02-21  오전 10:10            21,340 00_Jupyter Notebook Basics.ipynb
2019-02-20  오전 05:33            42,493 01.Python_basics.ipynb
2019-02-20  오전 05:59            41,903 02.Numpy.ipynb
2019-02-21  오전 10:11                16 anyfile.py
               4개 파일             105,752 바이트
               3개 디렉터리   2,324,238,336 바이트 남음

In [10]:
!python --version

Python 3.7.1

* Python 파일 불러오기, 저장하기

In [11]:
%%writefile anyfile.py

print("aaa")

Writing anyfile.py

In [13]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 1EEA-F5AB

 C:\Users\50008313\Python_Jupyter_Study\[2기교육] 3. Python기초(2.21-25)-20190221T002853Z-001\3. Python기초(2.21-25)\소스코드 디렉터리

2019-02-21  오전 10:12    <DIR>          .
2019-02-21  오전 10:12    <DIR>          ..
2019-02-21  오전 09:46    <DIR>          .ipynb_checkpoints
2019-02-21  오전 10:12            22,589 00_Jupyter Notebook Basics.ipynb
2019-02-20  오전 05:33            42,493 01.Python_basics.ipynb
2019-02-20  오전 05:59            41,903 02.Numpy.ipynb
2019-02-21  오전 10:11                16 anyfile.py
               4개 파일             107,001 바이트
               3개 디렉터리   2,323,841,024 바이트 남음

In [14]:
%run anyfile.py

aaa

In [15]:
# %laod anyfile.py을 실행하면 anyfile.py를 실행하고 %load anyfile.py는 주석처리 됨
# %load anyfile.py

print("aaa")

aaa

## 8. 여러줄 주석처리

* Ctrl + /

In [ ]:
sample_list = []
sumsum = 0

for i in range(10) :
  sample_list.append(i)
  sumsum += i
  print(i)
print('loop done')
print(sumsum)
print(sample_list)