# 01. Python Basics
    
작성자 : 김정훈 <br>
수정   : 한기영


#### 주의 : 파이썬의 모든 것을 다루지 않습니다. Machine Learning 또는 Deep Learning 을 공부하기 위해 최소한 알아야 하는 범위만을 다룹니다.

#### 실습목표
1. 데이터 타입을 알고 있다. - 숫자, 문자, boolean
2. 출력문(print)을 이용하여 출력할 수 있다.
3. 조건문(if-else)이 무엇인지 알고 조건문이 사용된 소스코드를 이해할 수 있다. 
4. 반복문(loop)이 무엇인지 알고 반복문이 사용된 소스코드를 이해할 수 있다. 
5. 자료형이 무엇인지 알고 자료형이 사용된 소스코드를 이해할 수 있다.
6. List, Dictionary, Set, Tuple 각 자료형의 특징과 차이점을 안다.
7. 함수(Function)가 무엇인지 알고, 함수가 사용된 소스코드를 이해할 수 있다. 간단한 함수를 작성할 수 있다. 
8. Python으로 작성된 소스코드를 이해하고, 간단한 코드를 작성할 수 있다.

## Magic 키워드
* Jupyter Notebook은 사용자 편의를 위해 Magic 키워드 를 지원한다.
* Magic 키워드는 % 또는 %%를 이용하여 실행할 수 있다. 각각 한 줄, 한 셀에 대해 Magic 키워드를 실행한다.

In [1]:
# 메모리를 리셋한다.
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

## 00. Hello Python

In [2]:
print("Hello, Python World!!") 

# !주의 
# 아래의 주석을 해제하여 실행해보자.

#print "Hello, Python World!!"

Hello, Python World!!

In [3]:
# help '?' 이용,
?print

In [4]:
#  ()안에 Shift + Tab
sum()

TypeError: sum expected at least 1 arguments, got 0

### 연산자

In [5]:
# 계산
# 사칙연산은 생략합니다.

# 모듈로 : 나머지
print(23 % 3)

# 나눗셈의 몫
print(23 // 3)

# 지수 연산
print(3 ** 2)

2
7
9

* print를 사용하여 출력한 것과 그렇지 않은 것의 차이는?

In [6]:
23 % 3

2

In [7]:
print(23%3)

2

In [8]:
# 비교
# 같다
print("abc" == "abc")
print("abc" == "Abc")

True
False

In [9]:
# 같지않다
print("abc" != "abc")
print("abc" != "Abc")

False
True

In [10]:
# 크다
print("abc" < "Abc")
print("abc" < "bbc")

False
True

In [11]:
# 숫자형 변수

x = 3
print(x)             # "3" 출력
print(type(x))   # Prints "<class 'int'>"

3
<class 'int'>

In [12]:
# 숫자형 변수에 대한 기본 연산
print(x + 1)   # 더하기, "4"
print(x - 1)   # 빼기, "2"
print(x * 2)   # 곱하기, "6"
print(x ** 2)  # 2제곱, "9"
print(x ** 3)  # 3제곱, "27"
print(x / 2)   # 2로 나누기, "1.5" int / int 나누었을때 float형식이 나올 수 있다.
print(x % 2)   # 2로 나누고 나머지, "1"

4
2
6
9
27
1.5
1

In [13]:
print(x)
x = x + 1
print(x)
x += 1   # x = x+1과 같은 문장
print(x)

3
4
5

In [14]:
x = x * 2
print(x)
x *= 2
print(x)

10
20

* 그럼 나누기(/)와 빼기(-)는?

In [15]:
x = x / 2
print(x)

10.0

In [16]:
# 위 +와 * 같은 형식으로 / 도 작성해보시오

In [17]:
x = x - 2
print(x)

8.0

In [18]:
# 위 +와 * 같은 형식으로 - 도 작성해보시오

In [19]:
y = 2.5
print(type(y)) 

print(y,   y + 1,   y * 2,   y ** 2) # "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

* True/False Boolean

In [20]:
t = True
f = False
print(type(t))

<class 'bool'>

In [21]:
print(t and f)   # AND 연산, "False"
print(t or f)     # OR 연산, "True"
print(not t)     # NOT 연산, prints "False"

False
True
False

* 문자열

In [22]:
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

hello = 'hello'    # 작은 따옴표를 사용할 수 있습니다.
world = "world"    # 큰 따옴표도 사용할 수 있습니다.
print(hello)       # "hello" 출력.
print(len(hello))  # 문자열 길이 출력  "5"

hello
5

In [23]:
hw = hello + ' ' + world  # 문자열 연결
print(hw)  # "hello world" 출력

hw12 = '%s %s %d' % (hello, world, 12)  # 변수를 활용하는 문자열 서식
print(hw12)  # "hello world 12" 출력

hello world
hello world 12

In [24]:
# New version~! 
hw12 = '{} {} {}'.format(hello, world, 12)  # 변수를 활용하는 문자열 서식
print(hw12)  # "hello world 12" 출력

hello world 12

In [25]:
# 소수점 자리수를 제한하려면
hw12 = '{:.5f}'.format(12.123456)  # 변수를 활용하는 문자열 서식, 반올림 한다.
print(hw12)  # "hello world 12" 출력

12.12346

* object(변수) 뒤에 '.함수' 형식으로 사용하는 함수를 method라고 부른다

아래에서 .capitalize(), .upper() 같은...

In [26]:
s = "hello"
print(s.capitalize())  # Capitalize, 알파벳 첫 문자를 대문자로
print(s.upper())       # 문자열 전체를 대문자로, "HELLO"

Hello
HELLO

In [27]:
# 공백 문자열을 추가하여 출력하되
print(s.rjust(7))      # 오른쪽 정렬로 출력, "  hello"
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.ljust(7))      # 왼쪽 정렬로 출력, "hello  "
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.center(7))     # 중앙 정렬로 출력, " hello "
print(len(s.center(7)))

  hello
7
hello
7
 hello
7

In [28]:
# 문자열 변경
print(s.replace('o', ', go'))  # 'o'을 ', go'로 바꿈, "hell, go"

hell, go

In [29]:
# 앞 뒤 빈 문자열 제거
print('  world '.strip())

world

In [30]:
# 여러 변수를 한 줄에 입력
a, b, c = 10, 'Hello', 0.1
print("{} {} {}".format(a, b, c))

10 Hello 0.1

### 실습 : Python_basics ①

In [31]:
out = "{}번 학생 {}, 총점은 {:.1f}점 입니다."

stu01 = " 한기영 "
stu01_num = 1
stu01_course_1 = 92
stu01_course_2 = 96
stu01_course_3 = 98

stu02 = " 김정훈 "
stu02_num = 2
stu02_course_1 = 58
stu02_course_2 = 64
stu02_course_3 = 100

stu03 = "이장래    "
stu03_num = 3
stu03_course_1 = 88
stu03_course_2 = 84
stu03_course_3 = 92

In [38]:
# 1) 자신의 이름을 가지고 위의 변수값을 참고하여 동일한 형태로 stu04를 만들어 주세요. 
stu04 = '송수형'
stu04_num = 4
stu04_course_1 = 100
stu04_course_2 = 100
stu04_course_3 = 100

In [40]:
# 2) strip() 함수를 이용하여, 각 학생들의 이름의 앞뒤에 있는 공백을 지워서 다시 같은 변수에 담기.
# stu01, stu02, stu03, stu04

stu01=stu01.strip()
stu02=stu02.strip()
stu03=stu03.strip()
stu04=stu04.strip()

In [44]:
# 3) 각 학생들의 평균점수 구하기
# stu01_avg, stu02_avg, stu03_avg, stu04_avg

stu01_avg = (stu01_course_1+stu01_course_2+stu01_course_3)/3
stu02_avg = (stu02_course_1+stu02_course_2+stu02_course_3)/3
stu03_avg = (stu03_course_1+stu03_course_2+stu03_course_3)/3
stu04_avg = (stu04_course_1+stu04_course_2+stu04_course_3)/3

In [45]:
# 4) replace()를 사용하여, out 변수에 들어있는 문자열 중에 '총점은' 부분을 '평균점수는'으로 
#    바꿔서 다시 out에 넣기.

out.replace('총점은', '평균점수는')

'{}번 학생 {}, 평균점수는 {:.1f}점 입니다.'

In [48]:
# 5) out을 이용하여 각 학생의 번호, 이름, 평균점수 출력
# out.format(stu01_num, stu01, stu01_avg)

out.format(stu01_num, stu01, stu01_avg)

'1번 학생 한기영, 총점은 95.3점 입니다.'

## 021. 제어문(Control)

In [49]:
 # 조건문 - if-else

my_score = stu01_avg
 
if my_score >= 90:
    my_grade = 'A'
elif my_score >= 80:
    my_grade = 'B'
elif my_score >= 70:
    my_grade = 'C'
elif my_score >= 60:
    my_grade = 'E'
else:
    my_grade = 'F'

print(stu01_avg)
print(my_grade)

95.33333333333333
A

In [50]:
list(range(5))

[0, 1, 2, 3, 4]

In [51]:
# 반복문 : for
for i in range(5):
    print(i)

0
1
2
3
4

In [52]:
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))
for i in fruits:
    print(i)

<class 'list'>
apple
banana
cherry

* enumerate() : 순서가 있는 자료형를 입력받아, 인덱스와 값을 포함하는 오브젝트로 리턴.

In [53]:
print(fruits)

['apple', 'banana', 'cherry']

In [54]:
for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

In [67]:
fruits[0]

'apple'

In [68]:
len(fruits)

3

In [69]:
# 반복문 - while
i = 0 
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry

### 실습 : Python_basics ②

In [75]:
score1 = 72
score2 = 90
score3 = 76

# 1) score 값에 따라 등급을 주는 다음의 조건문을 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F


my_score = score1
 
if my_score >= 95:
    my_grade = 'A+'
elif my_score >= 90:
    my_grade = 'A'
elif my_score >= 85:
    my_grade = 'B+'
elif my_score >= 80:
    my_grade = 'B'
elif my_score >= 75:
    my_grade = 'C+'
elif my_score >= 70:
    my_grade = 'C'
elif my_score >= 60:
    my_grade = 'D'
else:
    my_grade = 'F'

print(score1)
print(my_grade)

72
C

In [77]:
score1 = 60
score2 = 100
score3 = 76
# 2) score1, score2, score3 각 점수중 하나라도 60점 이하거나 
# 점수의 평균이 70점 이하이면 Fail
# 그렇지 않은 경우에는 Pass를 주는 조건문을 완성하시오.

if score1 <= 60 or score2 <=60 or score3 <=60 or(score1+score2+score3)/3 <=70:
    my_G = 'Fail'
else:
    my_G = 'Pass'
    
print((score1+score2+score3)/3)
print(my_G)

78.66666666666667
Fail

In [82]:
# 3) for문과 range를 사용하여 1 ~ 100까지의 합을 구하시오
s = 0
for i in range(1,101):
    s += i

print(s)

5050

In [97]:
# 4) while문을 사용하여 1 ~ 100까지 사이의 홀수의 합을 구하시오
# s = 0

# for i in range(1,101):
#     if i%2 == 1:
#         s += i

# print(s)

i, s = 0, 0
while i <= 100:
    if i%2 == 1:
        s+=i
    i+=1
print(s)

2500

In [89]:
list(range(5))

[0, 1, 2, 3, 4]

In [90]:
# 5) for 문과 range를 사용하여 1~100까지 수 중 7의 배수를 출력하시오.

for i in range(1,101):
    if i%7==0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [99]:
# sum은 함수로 이름이 지정되어 있기에, 동일한 이름의 변수이름을 만들면 함수가 실행 안됨.
# 그래서 삭제합시다.
del sum

## 031. 자료형(Container) - Lists

In [100]:
# 리스트 생성
age1 = 44
age2 = 44
age3 = 14
age4 = 12
age5 = 8

family_age = [44,44,14,12,8]
print(family_age)

[44, 44, 14, 12, 8]

In [101]:
family = ['Dad',44,'Mom',44, 'Son1',14, 'Son2',12, 'Son3',8]
print(family)

['Dad', 44, 'Mom', 44, 'Son1', 14, 'Son2', 12, 'Son3', 8]

In [102]:
# 인덱스로 데이터 가져오기
print(family[0])
print(family[-3])

Dad
12

* Slicing

In [103]:
family

['Dad', 44, 'Mom', 44, 'Son1', 14, 'Son2', 12, 'Son3', 8]

In [104]:
print(family[2:6])
print(family[6:])

['Mom', 44, 'Son1', 14]
['Son2', 12, 'Son3', 8]

In [105]:
print(family)

# 값 변경하기
family[7] = 13
print(family)

family[8:] = ['Son4', 9]
print(family)

['Dad', 44, 'Mom', 44, 'Son1', 14, 'Son2', 12, 'Son3', 8]
['Dad', 44, 'Mom', 44, 'Son1', 14, 'Son2', 13, 'Son3', 8]
['Dad', 44, 'Mom', 44, 'Son1', 14, 'Son2', 13, 'Son4', 9]

* 추가 연습

In [106]:
xs = [3, 1, 2]
print(xs)                   # "[3, 1, 2]"
print(xs[1], xs[2], xs[0])  # "1 2 3"
print(xs[-1])               # "2"

[3, 1, 2]
1 2 3
2

In [107]:
# 리스트 내용 변경
xs[2] = 6
print(xs)         # "[3, 1, 6]"

[3, 1, 6]

In [108]:
# 하나의 리스트 내에 여러가지 타입이 들어갈 수 있다.
xs[2] = 'foo'
print(xs)         # "[3, 1, 'foo']"

[3, 1, 'foo']

In [109]:
# 새로운 요소 추가
xs.append('bar')
print(xs)         # "[3, 1, 'foo', 'bar']"

[3, 1, 'foo', 'bar']

In [110]:
# 요소 제거
del xs[2]
print(xs)         # "[3, 1, 'bar']"

[3, 1, 'bar']

* 자르기(Slicing) 연습을 조금 더 해봅시다!

In [111]:
# range - 정수 목록을 만드는 함수
nums = list(range(10))
print(nums)               # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
nums1 = list(range(2, 10))
print(nums1)               # "[2, 3, 4, 5, 6, 7, 8, 9]"
nums2 = list(range(2, 10, 2))
print(nums2)               # "[2, 4, 6, 8]"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [112]:
# 자르기
print(nums[2:4])          # "[2, 3]"
print(nums[7:])           # "[7, 8, 9]"
print(nums[:3])           # "[0, 1, 2]"
print(nums[:-2])          # "[0, 1, 2, 3, 4, 5, 6, 7]"

[2, 3]
[7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5, 6, 7]

In [113]:
# 잘라낸 곳(범위)에 리스트 끼워 넣기
print(nums)
print(nums[2:4])
nums[2:4] = [8, 9, 10]    #2개의 값에 3개의 값을 넣기
print(nums)               # "[0, 1, 8, 9, 10, 4, 5, 6, 7, 8, 9]"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3]
[0, 1, 8, 9, 10, 4, 5, 6, 7, 8, 9]

* List 복사하기

In [114]:
# list 복사
nums = list(range(10))
nums_copy_1 = nums            # 그대로 복사
nums_copy_2 = nums[:]         # 범위를 지정하여 복사
print(nums_copy_1)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
# copy1의 첫번째 값 변경 후 원본과 비교해보기
nums_copy_1[0] = 'a'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"  <- 원본도 수정됨.

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
# copy2의 첫번째 값 변경 후 원본과 비교해보기
nums_copy_2[0] = 'b'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[b, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"  <- 원본은 수정 안됨

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 실습 : Python_basics ③

In [121]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

# 1) len 함수를 이용하여 score에 들어있는 element의 갯수를 구하시오
print(len(score))

# 2) 첫번째와 다섯번째 element의 값을 출력하시오.
print(score[0])
print(score[4])

# 3) append를 이용하여 마지막에 숫자 80을 추가하시오
score.append(80)
print(score)
# 4) 첫번째부터 3번째까지의 element를 slice하세요.
print(score[0:3])

# 5) 끝에서 4번째 값(130)을 30으로 변경하세요.
score[-4] = 30
print(score)
# 6) 두번째 값(46)을 삭제하세요.
del score[1]
print(score)
# 7) score 를 범위지정 없이 score2로 복사하시오.
score2 = score
print(score2)
# 8) score2의 네번째 값을 42로 변경하고, score와 score2의 값을 확인하시오.
score2[3] = 42
print(score)
print(score2)

9
75
-77
[75, 46, 93, -82, -77, 130, 100, 75, -10, 80]
[75, 46, 93]
[75, 46, 93, -82, -77, 130, 30, 75, -10, 80]
[75, 93, -82, -77, 130, 30, 75, -10, 80]
[75, 93, -82, -77, 130, 30, 75, -10, 80]
[75, 93, -82, 42, 130, 30, 75, -10, 80]
[75, 93, -82, 42, 130, 30, 75, -10, 80]

* List와 반복문

In [122]:
# 반복문(Loops)

animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [123]:
# enumerate 함수는 리스트의 키와 값으로 구분해서 추출한다.
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('%d: %s' % (idx + 1, animal))

1: cat
2: dog
3: monkey

In [127]:
#위 for 구문에서 print 문 내용을 format으로 바꿔보자!
for idx, animal in enumerate(animals):
    print(('{}: {}').format(idx+1, animal))

1: cat
2: dog
3: monkey

In [128]:
#반복문 조금 더 살펴보기
nums = [0, 1, 2, 3, 4]

In [129]:
squares = [ ]   #빈 리스트
print(squares)

[]

In [130]:
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [131]:
# 반복문 확장 문법1
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]  # 파이썬스러운 문법
print(squares)

[0, 1, 4, 9, 16]

In [132]:
# 반복문 확장 문법2 
# 반복문 + 조건문 : 짝수인 값의 제곱을 구해서 even_squares 리스트에 넣기
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0] 
print(even_squares)

[0, 4, 16]

### 실습 : Python_basics ④

In [133]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

# 1) score에서 음수를 제거한 리스트를 score01 변수에 담으세요. 

score01=[]
for i in score:
    if i>=0:
        score01.append(i)
print(score01)

[75, 46, 93, 130, 100, 75]

In [134]:
# 2) score01에서 100보다 큰 수를 제외한 리스트를 score02 변수에 담으세요.

score02 = []

for i in score01:
    if i <= 100:
        score02.append(i)
print(score02)

[75, 46, 93, 100, 75]

In [168]:
# 3) score02 리스트의 element들 합과 평균을 구하시오
print(sum(score02)/len(score02))

77.8

In [145]:
# 4) score02 리스트 각 element의 값을 10으로 나눈 값을 갖는 리스트 score03을 만드세요.
score03 = []

for i in score02:
    score03.append(i/10)
print(score03)

[7.5, 4.6, 9.3, 10.0, 7.5]

### 실습 : Python_basics ④ + α

In [166]:
# 위 1,2,4,5번 문제를 모두 반복문 확장문법으로 변환하시오.
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

score01 = [x for x in score if x>=0]
print(score01)

score02 = [x for x in score01 if x <= 100]
print(score02)

score03 = [x//10 for x in score02]
print(score03)

[75, 46, 93, 130, 100, 75]
[75, 46, 93, 100, 75]
[7, 4, 9, 10, 7]

## 032. 자료형(Container) - Dictionaries

* key : value 구조. 
* index의 개념.

In [153]:
# dictionary 생성
d = {'cat': 'cute', 'dog': 'furry'}  
print(d)
print(type(d))

{'cat': 'cute', 'dog': 'furry'}
<class 'dict'>

In [154]:
# dictionary 특정 값 조회
print(d['dog'])       # "furry"

furry

In [155]:
# key 값이 들어있는지 확인
print('cat' in d)     # "True"
print('sheep' in d)     # "False"

True
False

In [156]:
# 새로운 (key, value) 추가
d['fish'] = 'wet'  # fish 라는 키에 값으로 'Wet' 지정.
print(d)
print(d['fish'])      # "wet"
print(d['monkey'])  # KeyError: 'monkey'를 key로 가진 value가 없다

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}
wet

KeyError: 'monkey'

In [157]:
# key가 없는 경우, default value 사용
print(d.get('monkey', 'N/A'))  # "N/A"
print(d.get('fish', 'N/A'))    # "wet"

N/A
wet

In [158]:
# 요소 삭제
del d['fish']
print(d.get('fish', 'N/A')) # "N/A"

N/A

In [159]:
print(d)

{'cat': 'cute', 'dog': 'furry'}

* Dictionary와 반복문

In [160]:
# 반복문1
d = {'person': 2, 'cat': 4, 'spider': 8}
for key in d:
    value = d[key]
    print('A {} has {} legs'.format(key, value))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [161]:
# 반복문 2
d = {'person': 2, 'cat': 4, 'spider': 8}

In [162]:
d.items() # .items() : key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다

dict_items([('person', 2), ('cat', 4), ('spider', 8)])

In [163]:
# 딕셔너리에서 루프로 키와 값을 동시에 가져오려면 .items()  ( 리스트에서는 enumerate
for key, value in d.items():
    print('A {} has {} legs'.format(key, value))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [164]:
# 확장 문법 - 반복문 + 제어문
animals = {'cat': 11, 'dog': 7, 'fish': 15, 'horse': 3}
animals_over_10 = {k: v for k, v in animals.items() if v > 10}
print(animals_over_10)  # "{'cat': 11, 'fish': 15}"

{'cat': 11, 'fish': 15}

### 실습 : Python_basics ⑤

In [173]:
stu01 = {
    "no": 1,
    "name": "한기영",
    "score": [92, 96, 98]
}
stu02 = {
    "no": 2,
    "name": "김정훈",
    "score": [98, 64, 100]
}
stu03 = {
    "no": 3,
    "name": "이장래",
    "score": [88, 84, 92]
}

# 1) 각 학생들의 번호에 10씩 더하세요.
stu01["no"] += 10
stu02["no"] += 10



# 2) 각 학생별로 점수 합계를 구하시오.
sum(stu01["score"])

286

In [175]:
# 3) 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하시오.
out = "번호: {}, 이름: {}, 평균점수: {}"

out.format(stu01["no"], stu01["name"], sum(stu01["score"])/len(stu01["score"]))

'번호: 11, 이름: 한기영, 평균점수: 95.33333333333333'

In [177]:
# 4) 아래 코드에 오류가 있습니다. 오류를 수정하여. key: value를 출력하는 코드를 완성하세요. 
for key, value in stu01.items() :
    print("{} : {}".format(key, value))

no : 11
name : 한기영
score : [92, 96, 98]

## 033. 자료형(Container) - Sets

* 집합
* 중복된 값을 중첩되어 가지지 않는 리스트

In [178]:
animals = {'cat', 'dog'}
print(animals)

# 요소가 있는지 체크
print('cat' in animals)   # "True"
print('fish' in animals)  # "False"

{'cat', 'dog'}
True
False

In [179]:
# 요소 추가
animals.add('fish')  # list에서는 .append 였음
print('fish' in animals)  # "True"
print(animals)

True
{'cat', 'fish', 'dog'}

In [180]:
# set 요소 갯수
print(len(animals))       # "3"
animals.add('cat')        # 중복되어 추가해도 요소가 더 추가되지 않는다. 리스트와 비교.
print(len(animals))       # "3"
print(animals)

3
3
{'cat', 'fish', 'dog'}

In [181]:
# 요소 삭제
animals.remove('cat')  
print(len(animals))       # "2"

2

### List 비교

In [182]:
# List 비교
list_animals = ['cat', 'dog', 'fish']
print(list_animals)
print(len(list_animals))       # "3"

['cat', 'dog', 'fish']
3

In [183]:
# list 요소 갯수
list_animals.append('cat')     # 중복되어도 요소가 더 추가된다.
print(len(list_animals))       # "4"
print(list_animals)

4
['cat', 'dog', 'fish', 'cat']

### 반복문

In [184]:
# 반복문
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('{}: {}'.format(idx + 1, animal))

1: cat
2: fish
3: dog

## 034. 자료형(Container) - Tuples

In [185]:
# 튜플 생성
t = (5, 6)
print(type(t))    # Prints "<class 'tuple'>"
print(t)    # "(5, 6)"

print(t[0])       # "5"

# dictionary의 키로 사용되는 tuple
d = {(1, 0): 10, (2, 0): 20, (0, 1): 1}
print(d[(1, 0)])  # "10"
print(d[(0, 1)])  # "1"

<class 'tuple'>
(5, 6)
5
10
1

## 04. 함수(Function)

In [186]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [187]:
def hello(name, loud=False):  #디폴트 파라미터는 순서상 뒤쪽
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob')              # "Hello, Bob"
hello('Fred', loud=True)  # "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

### 실습 : Python_basics ⑥

In [201]:
# 1) 숫자의 list를 받아서 평균을 반환하는 average 함수를 만들어 보자. 
def average(list_score):
    return sum(list_score)/len(list_score)
    # 여기를 작성해 주면 됩니다. 
    # 힌트: list_points의 요소의 평균을 계산해서 aver 변수에 담으면 됩니다. 
    

    
    
score = [50, 60, 70, 80, 90, 100]
a = average(score)
print(a)

75.0

In [204]:
# 2) 1)번에서 만든 함수를 수정하시오 : 만약 빈(항목이 없는) 리스트가 입력될 경우 
# "리스트에 값이 없습니다."를 반환하도록 수정
def average(list_points):
    if list_points == []:
        print("리스트에 값이 없습니다")
    else:
        return sum(list_points)/len(list_points)
    # 여기를 작성해 주면 됩니다. 
    # 힌트: list_points의 요소의 평균을 계산해서 aver 변수에 담으면 됩니다. 




blank_point = []
a = average(blank_point)
print(a)

리스트에 값이 없습니다
None

In [ ]:
# 3) score 값에 따라 등급을 반환해 주는 grade 함수를 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F
def grade(score):
    # 여기를 작성해 주면 됩니다. 
    # 힌트: score의 값을 확인해서 등급을 grade 변수에 담으면 됩니다. 
 

    return grade

print(grade(points[0]))
print(grade(points[1]))
print(grade(points[2]))
print(grade(points[3]))
print(grade(points[4]))
print(grade(points[5]))

In [223]:
# 4) 1 이상의 자연수 n과 m을 입력받아, 
#     n보다 작은 자연수 중 m의 배수를 
#    리스트에 저장하고 
#    리스트를 출력하는 함수를 작성하시오.
#    단, 리스트에 저장하는 부분은 확장문법으로 작성하시오.
# def yolo(n, m):
#     a = []
#     for i in range(1,n):
#         if i%m == 0:
#             a.append(i)
#     print(a)

def yolo_2(n,m):
    a = [i for i in range(1,n) if i%m == 0 and i>0]
    return a

In [224]:
yolo_2(9,2)

[2, 4, 6, 8]