# 03. Pandas 종합실습

작성자 : 한기영

1. 스스로 해결한 것
2. 설명을 듣고 완전히 이해한 것
3. 설명을 듣고 조금 이해한 것
4. 아직 이해 못하고 어렵게만 느껴지는 것  

...을 구분하여 스스로 체크하고,  
3번과 4번으로 체크한 문제는 반드시 강사에게 개인지도를 요청하세요~!!

### SQL Server에서 가져온 Sales, Customers, Products 를 이용하여 실습을 진행하세요.

In [ ]:
# 필요한 라이브러리를 로딩하시오

In [ ]:
#1) Sales 에서 연도별 매출액을 조회하시오.

In [ ]:
#2) 2016년 월별 매출액을 조회하시오.

In [ ]:
#3) 2017년 고객별 매출액 상위 10명을 조회하시오.

In [ ]:
#4) 2017년에 가장 많이 팔린 상품 top 5를 판매량과 함께 조회하시오.

In [ ]:
#5) 2016년 Customers의 Addr1(시도별) 별 매출액을 집계하시오.

In [ ]:
# 6) 연도별 Products의 Category 별 매출액을 집계하여 저장하시오.

In [ ]:
# 7) Category는 범주형 데이터입니다. 
# 가변수(Dummy variable)화 하여 6번 결과와 합치고,
# 가변수 칼럼의 이름을 변경하시오.