# 04 Pandas2

작성 : 한기영

In [ ]:
import pandas as pd

## Database와 연동하기

### 1. database 연결하고 읽어오기

* 필요한 라이브러리 : pyodbc

In [ ]:
import pyodbc

* DB 연결 설정하기

In [ ]:
sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=(local);DATABASE=Retail;Trusted_Connection=yes')

* SQL문 작성하기 : 문자열로 작성해야 한다.

In [ ]:
sql_sales = "select * from sales"
sql_customers = "select * from customers"
sql_products = "select * from products"

* 실행하기

In [ ]:
df_sales = pd.read_sql(sql_sales, sql_conn)
df_customers = pd.read_sql(sql_customers, sql_conn)
df_products = pd.read_sql(sql_products, sql_conn)

* 가져온 데이터 일부를 살펴봅시다.

In [ ]:
df_sales.head()

In [ ]:
df_customers.head()

In [ ]:
df_products.head()

* 데이터 타입을 변경해봅시다.

In [ ]:
df_sales.dtypes
df_sales.OrderDate = df_sales.OrderDate.astype('datetime64')

* 날짜데이터 다루기

In [ ]:
# 날짜 데이터 형식에서 연, 월 추출하기
df_sales['month'] = df_sales['OrderDate'].dt.month
df_sales['year'] = df_sales['OrderDate'].dt.year

### (옵션) 2. SQL Server에 Insert 하기

* csv 파일을 불러들이는 작업은 보통 pandas에서 합니다!

In [ ]:
cursor = connStr.cursor()

for index, row in df.iterrows():
    cursor.execute("INSERT INTO dbo.vSalesPerson_test([BusinessEntityID],[FirstName],[LastName]) values (?, ?,?)"
                   , row['BusinessEntityID'], row['FirstName'], row['LastName'])
    connStr.commit()
cursor.close()
connStr.close()

## (옵션) 3. 주가 데이터 가져오기

* anaconda prompt 에서 아래 라이브러리 설치
> pip install pandas-datareader  
> pip install fix_yahoo_finance  

* 라이브러리 로딩

In [ ]:
from pandas_datareader import data
import fix_yahoo_finance as yf

* 데이터 가져와서 데이터프레임에 담기

In [ ]:
yf.pdr_override()
start_date = '2015-01-01' 
ticker = '001740.KS' #SK네트웍스 종목번호
sk_networks = data.get_data_yahoo(ticker, start_date)

In [ ]:
sknetworks.head()

In [ ]:
# 파일로 저장하기 : to_csv
sknetworks.to_csv('sknetworks.csv', header=True, index=True, encoding='utf-8')